<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="idea.importer.ui.import.category"
            class="idea.importer.ui.wizard.IdeaProjectImportWizard"
            icon="icons/icon.ico"
            id="idea.importer.ui.wizard.IdeaProjectImportWizard"
            name="Idea Project">
      </wizard>
      <category
            id="idea.importer.ui.import.category"
            name="Intellij Idea">
      </category>
   </extension>

</plugin>
